@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/StyleSheet.css" rel="stylesheet" type="text/css" />

<div class="middle">
    
        <img src="~/Pictures/foodfinderireland.png" alt="foodfinderlogo"  />
</div>
    
    <div class="google_search">
        <center>
            <form method="post" action="/Controllers/ProductsController/ActionResult" class="searchbar">
                <input class="search" type="text" name="q" title="Search" maxlength="2048" autocomplete="off" style="width:100%" />
                <input type="submit" value="Go" name="search" class="searchbtn">
            </form>
        </center>
    </div>
</div>